header{
    background-color: whitesmoke;
}

h1, h2, h3{
    text-align: center;
}

table{
    text-align: center; 
    margin: auto;
}

img{
    display:block; 
    margin:auto;
}

.tengah{
    width:800px;
}

.judul{
    color: red;
    font-family: sans-serif;
}

.bundar{
    border-radius: 50%;
}

#kiri{
    width:250px; 
    float:left;
}

#kanan{
    width:300px; 
    float: left;
}