.image-hero{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.title{
    font-family: 'Raleway', sans-serif;
}

.subtitle{
    letter-spacing: 10px;
}

#hero{
    height: 95vh;
}

.text-about{
    text-align: justify;
    letter-spacing: 5px;
}

.image-about{
    height: 350px;
    object-fit: cover;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

#hero1{
    height: 95vh;
    background-image: url(../image/wallpaperflare.com_wallpaper.jpg);
}